[Unit]
Description=FastAPI Slurm Client
After=network.target

[Service]
Type=simple
User=fastapi
Group=fastapi

# Directory containing your FastAPI code
WorkingDirectory=/opt/fastapi_app

# Directly run Python main module
ExecStart=/opt/fastapi_venv/bin/python /opt/fastapi_app/main.py

Restart=on-failure
RestartSec=5

# Security Hardening
NoNewPrivileges=yes
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
MemoryMax=300M
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
